body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator {
    height: 600px;
    width: 400px;
    border: 5px solid gray;
    background-color: aqua;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 375px;
    margin: 10px;
    border: 1px solid black;
    font-size: 48px;
    background-color: white;
    padding: 2px;
}

.calculation-zone {
    margin-left: 5px;
}

.answer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5px;
}

.clear-button-container {
    display: flex;
    justify-content: center;
}

#clear-button {
    font-size: 48px;
    width: 379px;
    height: 75px;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    background-color: beige;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.number-button, .decimal-button, .backspace-button {
    background-color: beige;
    padding: 8px 15px;
    border-radius: 100%;
    margin: 8px 10px;
    border: 1px solid gray;
}

.number-button, .decimal-button {
    font-size: 40px;
}

.backspace-button {
    font-size: 22px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.operator-button, .equal-button {
    height: 55px;
    width: 100px;
    padding: 0 15px;
    font-size: 44px;
    border-radius: 100%;
    margin: 8px 3px;
    border: 1px solid gray;
}

.operator-button {
    background-color: beige;
}

.equal-button {
    background-color: navy;
    color: white;
}